<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.security.manage.dao.PersonCarMapper" >
  <resultMap id="BaseResultMap" type="com.security.manage.model.PersonCar" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NUMBER" property="number" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NUMBER, NAME, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from MC_PERSON_CAR
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MC_PERSON_CAR
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.security.manage.model.PersonCar" >
    insert into MC_PERSON_CAR ( NUMBER, NAME, 
      DESCRIPTION)
    values ( #{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.security.manage.model.PersonCar" >
    insert into MC_PERSON_CAR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="number != null" >
        NUMBER,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keyword != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.security.manage.model.PersonCar" >
    update MC_PERSON_CAR
    <set >
      <if test="number != null" >
        NUMBER = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.security.manage.model.PersonCar" >
    update MC_PERSON_CAR
    set NUMBER = #{number,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update> 
  
  
     <select id="getPersonCarList" resultMap="BaseResultMap" parameterType="com.security.manage.model.PersonCar">
  	 select 
  	  *  
  		from 
  		(select *, ROW_NUMBER() OVER(Order by b.ID DESC ) AS RowNumber from MC_PERSON_CAR as b) as a
  	 	where 1=1
  		<if test="searchName != null and searchName !=''" >
	      and ( 
	      	a.NAME like '%${searchName}%'
	      	OR 
	      	a.number like '%${searchName}%'
	      	OR 
	      	a.description like '%${searchName}%'
	      )
	 </if>
	 <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
    		and RowNumber BETWEEN #{pageStart} and #{pageSize}
    	</if>
  </select>
  
 
  
  <select id="getPersonCarTotalCount" resultType="java.lang.Integer" parameterType="com.security.manage.model.PersonCar">
  	 select count(*)
 	from MC_PERSON_CAR 
 	where 1=1
  	<if test="searchName != null and searchName !=''" >
	      and ( 
	      	NAME like '%${searchName}%'
	      	OR 
	      	number like '%${searchName}%'
	      	OR 
	      	description like '%${searchName}%'
	      )
	 </if>
  	  	    
  </select>
  
   <select id="getExistPersonCar" resultMap="BaseResultMap" parameterType="com.security.manage.model.PersonCar">
  	 select 
  	  <include refid="Base_Column_List" />  
  	  from MC_PERSON_CAR t
  	  where 1=1
    	<if test="number != null" >
        and  t.number = #{number,jdbcType=VARCHAR}
       </if>  
       <if test="name != null" >
        and  t.name = #{name,jdbcType=VARCHAR}
       </if> 
        	  
    </select> 
  
  <select id="getPersonCar" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List"/>
	from  MC_PERSON_CAR 
  </select>

</mapper>
